* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: #161616;

}

main {
  width: 100%;
  // height: 100%;
  padding: 22px;
  // background: #161616;
  color: wheat;
  section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      width: 70%;
    }
    h1 {
      font-weight: 200;
      font-size: 3.5rem;
      text-align: center;
      line-height: 1.2;
      margin: 10px;
    }
    p {
      opacity: 50%;
      line-height: 1.5;
      width: 100%;
      font-size: 1.1rem;
      br {
        display: none;
      }
    }
  }
  section-3{
    display: flex;
    justify-content: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      gap: 1rem;
    a{
      color: wheat;
      text-decoration: none;
    }
  }
  section-2 {
    display: flex;

    justify-content: center;
    .marquee {
      display: flex;
      width: 80%;
      overflow-x: hidden;

      .text {
        display: flex;
        padding: 0 15px;
        gap: 30px;
        animation: mar 5s linear infinite both;
      }
    }
  }
}
@keyframes mar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (min-width: 800px) {
  html {
    font-size: 18px;
  }
  main {
    // width: 100%;
    // height: 100%;
    section-1 {
      img {
        width: 40%;
      }
      h1 {
        font-size: 6.5rem;
      }
      p {
        br {
          display: block;
        }
      }
    }
    section-2 {
      display: flex;
      justify-content: center;
      .marquee {
        width: 90%;
        .text {
          padding: 0 80px;
          gap: 180px;

          animation: mar 5s linear infinite both;
        }
        p {
          font-size: 40px;
        }
      }
    }
    section-3{
      display: flex;
      justify-content: center;
      
      a{
        text-decoration: none;
        border: 1px solid gray;
        padding: 10px 13px;
        border-radius: 100%;
        color: wheat;
        transition: all .4s cubic-bezier(0.19, 1, 0.22, 1) ;
              &:hover{
        transform: rotate(-90deg);
      }
      }
      p{
        margin: 10px;
      }
    }
  }
}
@media (min-width: 1020px) {
}
